<!DOCTYPE html>
<html>
<body>

<h1>Manisha Website</h1>
<p>Hi this is practical</p>
<h2>Family of node server {{ansible_os_family}}</h2>
<h1>Family of node server ip address is {{ansible_all_ipv4_addresses}}</h2>


</body>
</html>